= simple_form_for @setting do |f|
  = f.input :chapter_options,
            input_html: { \
              data: { \
                controller: :settings, \
                settings_chapter_options_value: f.object.chapter_options \
              }, \
              class: 'h-48', \
              value: f.object.chapter_options.as_json \
            }

  .mt-6
    = f.button :submit
