header.flex.flex-col.lg:flex-row.items-center.justify-between.mb-6.gap-3
  h1.text-3xl Importer un compte Nostr avec une clé privée

  = link_to '<< Retour', nostr_users_path, class: 'back-link'

= render 'form', nostr_user: @nostr_user
