= simple_form_for Story.new,
                  url: stories_path,
                  html: { \
                    class: 'flex flex-col items-center gap-6 justify-between p-4 bg-gray-200 dark:bg-gray-800 rounded-b-lg', \
                    data: { \
                      controller: 'jumpto', \
                      action: 'turbo:submit-end->jumpto#jump', \
                      jumpto_div_id_value: 'stories' \
                    } \
                  } do |f|

  = f.input :light_form,
            as: :hidden,
            input_html: { value: true },
            wrapper: false

  .flex.flex-col.lg:flex-row.gap-3.justify-between.w-full
    = f.association :thematic,
                    collection: Thematic.enabled,
                    include_blank: '[Aléatoire]',
                    label_html: { class: 'block italic mb-2' },
                    input_html: { \
                      class: 'w-full', \
                      data: { \
                        controller: 'slim-select' \
                      } \
                    }, \
                    wrapper_html: { class: 'text-center w-full' }

    = f.input :mode,
              collection: select_options_for(Story, :modes),
              include_blank: false,
              label_html: { class: 'block italic mb-2' },
              input_html: { \
                class: 'w-full', \
                data: { \
                  controller: 'slim-select', \
                  slim_select_show_search_value: false \
                } \
              }, \
              wrapper_html: { class: 'text-center w-full' }

    = f.association :nostr_user,
                    collection: story_nostr_users_select_options(company),
                    include_blank: false,
                    label_html: { class: 'block italic mb-2' },
                    input_html: { \
                      class: 'w-full', \
                      data: { \
                        controller: 'slim-select' \
                      } \
                    }, \
                    wrapper_html: { class: 'text-center w-full' }

    = f.input :publication_rule,
              collection: select_options_for(Story, :publication_rules),
              include_blank: false,
              label_html: { class: 'block italic mb-2' },
              input_html: { \
                class: 'w-full', \
                data: { \
                  controller: 'slim-select', \
                  slim_select_show_search_value: false \
                } \
              }, \
              wrapper_html: { class: 'text-center w-full' }

  .flex.flex-col.items-center.justify-center.gap-3
    = f.button :submit, 'Créer une aventure rapide',
               class: 'bg-green-600 p-2 rounded-lg text-white cursor-pointer hover:bg-green-500 transition-colors'

    p.dark:text-white
      | ou

      =< link_to 'Créer une aventure sur mesure',
                 new_story_path,
                 class: 'underline'
