@import './components/menu';
@import './components/subtitle';
@import './components/form';
@import './components/panels';
@import './components/buttons';
@import './components/flash';
@import './plugins/bullet';
@import './plugins/pygment';
@import './plugins/slim-select';
@import './plugins/pagy';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #000;
    --color-secondary: #7600FF;
  }
}

body {
  @apply dark:bg-slate-800;
}

h1, h2, h3, h4 {
  @apply dark:text-white;
}

.stop-scrolling {
  @apply h-full;
  overflow: hidden;
}
