@import './components/form';
@import './components/panels';
@import './components/flash';
@import './plugins/pygment';
@import './plugins/slim-select';
@import './plugins/pagy';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #000;
    --color-secondary: #7600FF;
  }
}

@layer components {
  .hamburger div:first-child {
    @apply rotate-45 translate-y-1.5;
  }
  .hamburger div:last-child {
    @apply -rotate-45 -translate-y-1;
  }
}

body {
  @apply dark:bg-slate-800;
}

h1, h2, h3, h4 {
  @apply dark:text-white;
}

.base-link {
  @apply text-white text-sm p-2 rounded-lg dark:bg-transparent dark:hover:text-white transition-colors focus:ring-4 focus:outline-none;
}

.back-link {
  @apply base-link bg-gray-700 focus:ring-gray-600 dark:border dark:border-gray-500 dark:text-gray-500 dark:hover:text-white dark:hover:bg-gray-500;
}

.add-link {
  @apply base-link bg-green-700 focus:ring-green-600 dark:border dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-500;
}

.edit-link {
  @apply base-link bg-orange-700 focus:ring-orange-600 dark:border dark:border-orange-500 dark:text-orange-500 dark:hover:text-white dark:hover:bg-orange-500;
}

.destroy-button {
  @apply base-link bg-red-700 focus:ring-red-600 dark:border dark:border-red-500 dark:text-red-500 dark:hover:bg-red-500;
}

.blue-button {
  @apply base-link bg-blue-700 focus:ring-blue-600 dark:border dark:border-blue-500 dark:text-blue-500 dark:hover:bg-blue-500;
}

.stop-scrolling {
  @apply h-full;
  overflow: hidden;
}

/* Bullet */

#bullet-footer {
  @apply dark:!bg-black;
}


.dropdown-menu-item {
  @apply block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-600 first:rounded-t-lg last:rounded-b-lg;
}
