@tailwind base;
@tailwind components;
@tailwind utilities;

/* Flash */
#flash .flash__message {
  animation: appear-then-fade 10s both;
}

@keyframes appear-then-fade {
  0%, 100% {
    opacity: 0
  }
  5%, 60% {
    opacity: 1
  }
}
