= simple_form_for(nostr_user) do |f|
  .form-inputs
    = f.input :private_key,
              as: :password,
              input_html: { value: f.object.private_key },
              wrapper_html: { class: 'mb-5' }

    = f.input :language,
              as: :select,
              collection: NostrUser.languages.map { |l| [l[0], l[0]] },
              include_blank: false,
              wrapper_html: { class: 'mb-5' }

    = f.association :relays,
                    collection: Relay.enabled,
                    as: :check_boxes,
                    input_html: { class: 'ml-4 mr-1' },
                    wrapper_html: { class: 'block mb-5' }

    = f.input :enabled,
              as: :boolean,
              wrapper_html: { class: 'mb-5' }

  .form-actions
    = f.button :submit
