.flex.flex-col.justify-between.block.bg-white.shadow-md.hover:shadow-xl.rounded-lg.overflow-hidden
  div
    .relative.pb-44.overflow-hidden
      = image_tag nostr_user.banner_url, class: 'absolute inset-0 h-full w-full object-cover transition-transform hover:scale-105'

      - language = I18nData.languages(I18n.locale)[nostr_user.language.upcase]
      span.absolute.bottom-0.left-1.inline-block.px-2.py-1.leading-none.rounded-full.font-semibold.uppercase.tracking-wide.text-xs.mb-2 style="background-color: ##{Digest::MD5.hexdigest(language)[0..5]}"
        = language.capitalize

    .px-4.py-3
      .flex.items-center.gap-2.mb-3
        = image_tag nostr_user.picture_url, class: 'rounded-full w-16'
        div
          h2.font-bold= nostr_user.display_name
          p.font-medium.text-sm.text-gray-500
            | @
            = nostr_user.name

      .text-sm.mb-3
        - if nostr_user.about.present?
          == nostr_user.about
        - else
          p.italic.text-sm.text-gray-500 Aucune description

      div
        p.text-sm.text-gray-500.mb-1
          span title="Clé publique" 🔑
          =< link_to nostr_user.reduced_public_key, "#{nostr_client_url}/p/#{nostr_user.public_key}", target: :_blank, class: 'decoration-dashed'

        - if nostr_user.lud16.present?
          p.text-sm.text-gray-500.mb-1
            span title="Adresse Lightning Network" ⚡
            =< nostr_user.lud16

        - if nostr_user.nip05.present?
          p.text-sm.text-gray-500.mb-1
            span title="NIP-05"
              | ☑️
            =< nostr_user.nip05

        - if nostr_user.website.present?
          p.text-sm.text-gray-500.mb-1
            span title="Site internet" 🔗
            =< link_to nostr_user.website, nostr_user.website, target: :_blank

        - if nostr_user.relays.blank?
          p.bg-orange-50.text-orange-500.mt-3.text-sm.p-2 ⚠️ Aucun relais n'est associé à ce compte, vous ne pourrez rien publier avant d'en associer un.
        - else
          details.mt-3.text-sm
            summary.cursor-pointer.mb-1 Les relais

            ul.list-disc.list-inside.bg-green-50.text-green-500.p-2
              - nostr_user.relays.first(3).each_with_index do |relay, index|
                li
                  = relay.url
                  - if index.zero?
                    span.cursor-help.ml-1 title="Relay favori" ⭐

  - update_account = allowed_to?(:update?, nostr_user)
  - refresh_profile = allowed_to?(:create?, nostr_user, with: NostrUsers::ProfilePolicy)

  - if update_account || refresh_profile
    footer.border-t.text-xs.text-gray-700.flex.items-center
      - if refresh_profile
        = button_to 'Rafraîchir les métadonnées',
                    refresh_profiles_path(nostr_user),
                    class: 'inline-block bg-blue-500 text-white w-full p-4 text-center hover:bg-blue-600 transition-colors',
                    title: 'Rafraîchir les métadonnées depuis Nostr',
                    data: { turbo_confirm: 'Voulez-vous rafraîchir les métadonnées depuis Nostr ? ⚠️ Toutes les informations actuelles vont être écrasées' },
                    form: { class: 'w-1/2' }

      - if update_account
        => link_to 'Modifier',
           edit_nostr_user_path(nostr_user),
           class: "inline-block bg-orange-500 p-4 text-center hover:bg-orange-600 transition-colors #{refresh_profile ? 'w-1/2' : 'w-full'}"
