.flash__message.p-4.mb-4.text-sm.rounded-xl.overflow-y-auto class="#{flash_type == 'notice' ? 'text-green-700 bg-green-100' : 'text-red-700 bg-red-100'}" data-controller="removals" data-action="animationend->removals#remove"
  = simple_format message
